<%- include("template/cabecera.ejs",{tituloWeb:'Inicio'}) %>
    <img class="logo" src="/img/logo.png" alt="" srcset="">
    <a href="/pokemon" class="a">POKEMÓN</a>
    <a href="/entrenador" class="a">ENTRENADOR</a>
    <img class="b" src="/img/b.png" alt="" srcset="">
<%- include("template/footer") %>